
@{
    Layout = "_Layout-Admin";
    ViewData["Title"] = "Área Restrita";
}

<h1>Área Restrita</h1>
<div>
    <div id="liveAlertPlaceholder"></div>
    <button type="button" class="btn-admin" id="liveAlertBtn">Adicionar</button>
</div>


