html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Layout.cshtml */

.container {
 display: flex;
 flex-direction: column;
 align-items: center;       
 }

.d-flex {
    margin: 4px;
    align-content: flex-start ;
    width: 300px;
}

.navegacao {
    font-family: 'Playfair Display SC';
    color: #507A8A;
    font-size: 19px;
}

.carrossel {
    width: 85%;
    margin: 35px auto; /* Auto centraliza horizontalmente */
}

.carousel-item img {
    width: 100%; /* Garante que a imagem ocupe 100% da largura do carrossel */
}


.row.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; 
    margin: 35px auto; 
}

.icon-wrapper {
    display: flex;
    align-items: center;
    margin: 0 20px; /* Espaçamento entre os ícones */
}

.icon-text {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-align: center; /* Centraliza o texto dentro de cada ícone */
}

    .icon-text i {
        margin-right: 8px; /* Espaço entre o ícone e o texto */
    }

.vertical-bar {
    border-left: 1px solid #000;
    height: 30px;
    margin: 0 10px; /* Espaçamento ao redor da barra vertical */
}


.container-card {
    padding: 10px;
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 36px;
}

.card {
    border: 1px solid #ddd;
    padding: 16px;
    width: 300px;
    border-radius: 5px;
}

    .card img {
        max-width: 100%;
        border-radius: 5px;
    }

    .card h2, .card p {
        margin: 8px 0;
    }

    .card p {
        margin-bottom: 16px; /* Espaço entre o preço e o botão */
    }

.btn-card {
    border: 2px solid #507A8A;
    border-radius: 5px;
    font-size: 20px;
    color: #507A8A;
    padding: 10px 20px;
    background-color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 16px; /* Espaçamento entre o preço e o botão */
}

    .btn-card:hover {
        background-color: #507A84;
        color: white;
        text-decoration: none;
    }

.card img {
    max-width: 100%;
    border-radius: 8px;
}

.card h2, .card p {
    margin: 8px 0;
}

.card p {
    margin-bottom: 16px; /* Espaço entre o preço e o botão */
}

.btn-card {
    border: 2px solid #507A8A;
    font-size: 20px;
    color: #507A8A;
    padding: 10px 20px;
    background-color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 16px; /* Espaçamento entre o preço e o botão */
}

.card-sem-margem {
    margin-top: 0;
}

/******* ÁREA DO ADMIN ********/

.btn-admin {
    border: 2px solid #507A8A;
    border-radius: 5px;
    font-size: 20px;
    color: #507A8A;
    padding: 10px 20px;
    background-color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 20px
}

.btn-admin:hover {
    background-color: #507A84;
    color: white;
    text-decoration: none;
}










